{% extends "base.html" %}
{% load static %}
{% block content %}

<main id="main" class="main">
    {% include "modal/messages.html" %}
    <div class="pagetitle">
      <h1>Daftar RTU</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card">
                        
                        <div class="card-body">
                            
                            <div class="datatable-top">
                                <div class="datatable-dropdown">
                                        <label>
                                            <a href={% url "create_rtu"  %} class="btn btn-success">+ Tambahkan RTU</a>
                                        </label>
                                </div>
                                <div class="datatable-search">
                                        <input class="datatable-input" placeholder="Search..." type="search" title="Search within table">
                                </div>
                            </div>
                            
                            <!-- Table with hoverable rows -->
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Gardu</th>
                                    <th scope="col">UP3</th>
                                    <th scope="col">Serial Number</th>
                                    <th scope="col">Brand RTU</th>
                                    <th scope="col">Model RTU</th>
                                    <th scope="col">RTU Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rtu in rtus %}
                                <tr>
                                    <td><a href=" {% url "detail_rtu" rtu.id %} ">{{ rtu.gardu }}</a></td>
                                    <td>{{ rtu.gardu.up3}}</td>
                                    <td>{{ rtu.serial_number }}</td>
                                    <td>{{ rtu.brand_rtu }}</td>
                                    <td>{{ rtu.model_rtu }}</td>
                                    {% if rtu.rtu_status == 0 %}
                                    <td><span class="badge bg-danger">Tidak Aktif</span></td>
                                    {% else %}
                                    <td><span class="badge bg-success">Aktif</span></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                                
                            </table>
                            <!-- End Table with hoverable rows -->

                            <!-- Paginator -->
                            <div class="datatable-bottom">
                                <div class="datatable-info">Found of {{ jumlah }} entries</div>
                                <nav class="datatable-pagination">
                                    {% if rtus.has_other_pages %}
                                    <ul class="datatable-pagination-list">
                                        {% if rtus.has_previous %}
                                        <li class="datatable-pagination-list-item"><a data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1" href="?page={{rtus.previous_page_number}}"><</a></li>
                                        {% else %}
                                        <li class="datatable-pagination-list-item datatable-hidden datatable-disabled"><a data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1" href=""><</a></li>
                                        {% endif %}
                                        {% for i in rtus.paginator.page_range  %}
                                            {% if rtus.number == i %}
                                                <li class="datatable-pagination-list-item datatable-active"><a data-page="1" class="datatable-pagination-list-item-link" aria-label="Page {{i}}" href="#" >{{i}}</a></li>
                                            {% else %}
                                            <li class="datatable-pagination-list-item"><a data-page="2" class="datatable-pagination-list-item-link" aria-label="Page {{i}}" href="?page={{i}}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if rtus.has_next %}
                                        <li class="datatable-pagination-list-item"><a data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1" href="?page={{rtus.next_page_number}}">></a></li>
                                        {% else %}
                                        <li class="datatable-pagination-list-item datatable-hidden datatable-disabled"><button data-page="1" class="datatable-pagination-list-item-link" aria-label="Page 1">></button></li>
                                        {% endif %}
                                        
                                    </ul>
                                    {% endif %}
                                </nav>
                            </div>
                            <!-- Paginator END-->
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  </main>

{% endblock content %}