{% extends "base.html" %}
{% load static %}

{% block content %}
<main id="main" class="main">
    {% include "modal/messages.html" %}
    <div class="pagetitle">
      <h1>Buat Gardu Baru</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Isian RTU</h5>
              
                            <!-- Horizontal Form -->
                            <form action="{% url "create_rtu" %}" method="POST">
                                {% csrf_token %}
                                
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Gardu</label>
                                <div class="col-sm-10">
                                  {{ form.gardu }}
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Serial Number RTU</label>
                                <div class="col-sm-10">
                                  {{ form.serial_number_rtu}}
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Brand RTU</label>
                                <div class="col-sm-10">
                                  {{ form.brand_rtu}}
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Model RTU</label>
                                <div class="col-sm-10">
                                  {{ form.model_rtu }}
                                </div>
                              </div>
                            
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Status RTU</label>
                                <div class="col-sm-10 ">
                                  {{ form.rtu_status }}
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Note</label>
                                <div class="col-sm-10 ">
                                  {{ form.note }}
                                </div>
                              </div>
                              
                              
                              <div class="text-center">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a href="{% url "all_rtu" %}" class="btn btn-danger">Cancel</a>
                              </div>
                              
                            </form><!-- End Horizontal Form -->
              
                          </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

  </main>

{% endblock content %}