{% extends "base.html" %}
{% load static %}

{% block content %}
<main id="main" class="main">
    {% include "modal/messages.html" %}
    <div class="pagetitle">
      <h1>Detail Media</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title">Informasi Media {{ rtu.gardu.gardu_name }}</h5>
                            </div>
                            {% if media.gardu %}
                            <div class="col card-title ">
                              <div class="container d-flex justify-content-center">
                                <a class="btn btn-warning" href="{% url "move_to_inventory" asset='media' id=media.id as move_url%}" data-bs-toggle="modal" data-bs-target="#move-modal"><i class="ri-inbox-unarchive-line"></i> Move Media to Inventory</a>
                              </div>
                            </div>
                            {% endif %}
                          </div>
              
                            <!-- Horizontal Form -->
                            <form action="{% url "edit_media" media.id %}" method="POST">
                                {% csrf_token %}
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Gardu</label>
                                <div class="col-sm-10">
                                  <input type="text" name="gardu_name" class="form-control" id="inputText" value="{{ media.gardu.gardu_name }}" disabled>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">UP3</label>
                                <div class="col-sm-10">
                                  <input type="text" name="up3" class="form-control" id="inputText" value="{{ media.gardu.up3 }}" disabled>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Serial Number</label>
                                <div class="col-sm-10">
                                  <input type="text" name="long" class="form-control" id="inputText" value="{{ media.serial_number }}" disabled>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Brand Media</label>
                                <div class="col-sm-10">
                                  <input type="text" name="lat" class="form-control" id="inputText" value="{{ media.brand_media }}" disabled>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Model Media</label>
                                <div class="col-sm-10">
                                  <input type="text" name="lat" class="form-control" id="inputText" value="{{ media.model_media }}" disabled>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Protokol</label>
                                <div class="col-sm-10">
                                  <input type="text" name="lat" class="form-control" id="inputText" value="{{ media.protokol }}" disabled>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Status Media</label>
                                <div class="col-sm-10">
                                  <input type="text" name="rc_status" class="form-control" id="inputText" value=" {% if media.media_status == 0 %}Tidak Aktif{% else %}Aktif{% endif %}"  disabled >
                                </div>
                              </div>
                              <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Note</label>
                                <div class="col-sm-10">
                                  <input type="text" name="lat" class="form-control" id="inputText" value="{{ media.note }}" disabled>
                                </div>
                              </div>
                              <div class="text-center">
                                <a href="{% url "edit_media" media.id as edit_url%}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-modal">Edit</a>
                                <a href="{% url "delete_media" media.id as delete_url %}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete</a>
                              </div>
                            </form><!-- End Horizontal Form -->
                            {%  with modal_action='edit-modal' btn_warna='primary' modal_message='<b>Apakah ingin melakukan edit data ?</b>' btn_tag='Edit' url_meta=edit_url %}
                                {% include "modal/confirmation.html" %}
                            {% endwith %}

                            {%  with modal_action='delete-modal' btn_warna='danger' modal_message='<b>Apakah ingin menghapus data ?</b>' btn_tag='Delete' url_meta=delete_url %}
                                {% include "modal/confirmation.html" %}
                            {% endwith %}

                            {%  with modal_action='move-modal' btn_warna='warning' modal_message='<b>Apakah ingin memindahkan asset ke inventory ?</b>' btn_tag='Move' url_meta=move_url %}
                                {% include "modal/confirmation.html" %}
                            {% endwith %}
                          </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

  </main>

{% endblock content %}